footer {
  margin: 0;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  background-color: #a09e96;
  opacity: 0.8;
  h3 {
    font-size: 1.2rem;
    color: #f7f8f8;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 30%;
  }
  .footer-adress {
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    h5 {
      font-size: 1rem;
      color: #dbe7e3;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
  }
  .social-link {
    margin-left: 0.3rem;
    display: flex;
    width: 60%;
    margin: auto;
    padding-left: 0.3rem;
    justify-content: space-between;

    a {
      color: #fbfdfc;
      text-decoration: none;
    }
  }
}
