html,
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  .container {
    margin-top: 0;
    min-height: calc(100vh - 30px);
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(241, 237, 231, 0.3);
    // display: flex;
    align-items: center;
    justify-content: center;
    .showParagraph {
      border: 1px solid rgb(36, 25, 25);
      width: 50%;
      height: 40%;
      padding: 1rem;
      margin: 1rem auto;
    }
    .btnShow {
      box-sizing: border-box;
      padding: 0.5rem 0.8rem;
      background-color: #fff;
      border-radius: 0.5rem;
      overflow: hidden;
      border: 1.5px solid rgb(224, 39, 39);
      font-size: 1rem;
      color: rgb(224, 39, 39);
      &:hover {
        color: rgb(246, 242, 242);
        background-color: rgba(224, 39, 39, 0.5);
      }
    }
  }
}
