html,
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  .container {
    margin: 0.5rem;
    height: calc(100% - 60px);
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(241, 237, 231, 0.3);
    align-items: center;
    justify-content: center;
    h1 {
      margin: 0.7rem 0rem 0.2rem;
      letter-spacing: 0.2rem;
      font-size: 1.9rem;
      color: transparent;
      background: linear-gradient(
        to left,
        rgb(126, 192, 88),
        rgb(202, 43, 131),
        rgb(211, 198, 198),
        rgb(139, 192, 25)
      );
      background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
      -webkit-animation: animate 7s linear infinite;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      width: 95%;
      margin: auto;

      .col {
        border-radius: 0.5rem;
        background-color: #f3e7e7;
        border: 1px solid rgba(235, 210, 235, 0.2);
        flex: 1;
        height: 90%;
        margin-left: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
      }
      .col2 {
        display: flex;
        flex-direction: column;

        .todo-btn {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 100%;
          width: 90%;
          border: 1px solid rgba(209, 153, 120, 0.2);
        }
        .todo-list {
          margin: 1rem auto;
          height: 100%;
          width: 90%;
          flex: 6;
          background-color: rgba(255, 255, 255, 0.3);
          border: 1px solid rgba(216, 208, 241, 0.2);
          border-radius: 0.5rem;
        }
      }
    }
    .showParagraph {
      width: 90%;
      height: 100%;
      padding: 1rem;
      margin: 1rem auto;
      color: rgb(12, 25, 83);
      h3 {
        letter-spacing: 0.2rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 0.2rem;
      }
      ul {
        list-style: none;
        font-size: 1.3rem;
        padding: 1rem;
        width: 80%;
        margin: auto;
        border: 1px solid rgba(202, 125, 25, 0.2);

        li {
          margin-bottom: 0.3rem;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .todo-input {
      padding: 0.34rem 0.3rem;
      width: 70%;
      margin: 0.3rem 0.3rem;
      border-radius: 0.3rem;
      outline: none;
      border: none;
      &:focus {
        border-bottom: 2px solid #49d4c9;
        background-color: #d6dfd5;
      }
    }
    .btnSubmit {
      padding: 0.3rem 0.5rem;
      border: 1px solid #1df01d;
      background-color: white;
      color: #0d800d;
      font-size: 1rem;
      &:hover {
        color: #ebf3eb;
        background-color: #0d800d;
      }
    }
    .btnDelete {
      background-color: #e61212;
      color: white;
      font-size: 0.9rem;
      border: none;
      margin-left: 0.2rem;
      transition: all ease-in-out;
      &:hover {
        background-color: #ee9999;
      }
    }
    button {
      padding: 0.2rem 0.5rem;
      background-color: rgb(80, 200, 69);
      border-radius: 0.4rem;
      outline: none;
      &:hover {
        background-color: rgb(56, 231, 40);
      }
    }
    .btnShow {
      position: absolute;
      top: 4;
      right: 4;
      box-sizing: border-box;
      padding: 0.5rem 0.8rem;
      background-color: #fff;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: 0 0px 7px rgb(235, 220, 220);
      border: 1.5px solid rgb(224, 39, 39);
      font-size: 1.2em;
      color: rgb(224, 39, 39);
      outline: none;
      width: 8rem;
      font-size: 1.2rem;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: rgb(246, 242, 242);
        background-color: rgba(231, 12, 12, 0.8);
      }
    }
  }
}

@-webkit-keyframes animate {
  0% {
    background-position: left 0 top 50px;
  }
  20% {
    background-position: left 800px top -50px;
  }
  40% {
    background-position: left 1800px top -60px;
  }
  60% {
    background-position: left 2400px top -80px;
  }
  80% {
    background-position: left 3400px top -50px;
  }
  100% {
    background-position: left 4400px top 50px;
  }
}
